[2016-12-09 08:47] marijane opened #1 "Include CASRAI IDs in class annotations"
Each of the CRediT Taxonomy roles has a unique ID in the CASRAI Dictionary.  We should include this ID in the annotations on the role classes, but it's not clear if there is an existing OBO annotation property that should be used for this.  The alternate term property does not seem quite right to me.

[2016-12-09 08:49] marijane opened #2 "Should CASRAI be included in annotations as a term editor?"
They authored the terms, it feels appropriate to give them some kind of editor credit beyond the existing definition source annotations that point to entries in the CASRAI dictionary.

[2016-12-09 08:51] marijane opened #3 "ORCiDs for term editor values?"
I entered my name as a string in the term editor annotations, but I'm wondering whether it's appropriate to use an ORCiD as the value for this property.

[2016-12-09 08:54] marijane opened #4 "Punctuation in labels of writing terms?"
CASRAI has styled these roles as follows:

- Contributor Roles/Writing – original draft
- Contributor Roles/Writing – review & editing

I removed the punctuation from these terms, but I'm wondering if I should have left them in?  I couldn't find anything in the OBO Tutorial or naming conventions that recommends anything about punctuation.

[2016-12-09 09:03] marijane opened #5 "Model "degree of contribution" as described in the FAQ?"
Per the CRediT FAQ:
"When there are multiple people serving in the same role a ‘degree of contribution’ should be further specified as either ‘lead’, ‘equal’, or ‘supporting’. "

Should we include this concept in the ontology?  How might we model it?

[2016-12-09 17:05] marijane commented on #4
Note: I gave the "has curation status" annotation the "metadata incomplete" value until this is sorted.

[2016-12-09 17:13] marijane opened #6 "Integrating with other ontologies"
For now I have implemented this as a standalone ontology, but we should discuss whether we want it to import BFO and descend from obo:Role, and whether this can be done in a modular/optional way.

[2016-12-09 17:15] marijane opened #7 "IAO import side effects"
I imported the IAO ontology metadata namespace in order to get access to annotations like obo:definition.  The corresponding classes for these properties show up in the class tree in Protege.  I'm not clear if this is something I should work around with a MIREOT of this namespace.

[2016-12-13 06:23] marijane opened #8 "CRO_00000000 has one more digit in its ID than the rest of the classes"
It was generated by the ontology-starter-kit, and I failed to notice until after I'd added the CRediT roles.  I think most of the OBO ontologies I've looked at use 7 digits.

Should we bump all the identifiers up to 8 digits or knock this one down to 7?

[2016-12-15 04:28] Public-Health-Bioinformatics commented on #8
I imagine that you won't use the full 7 or 8 digit namespace ever for this ontology, even if you reserved ranges for different editors, so it may only be a question of aesthetics.  I'd keep it lighter and just move the 8 digit one down to 7.  Or officially depreciate the 8 digit one and create the 7 digit one.

[2016-12-15 17:20] marijane commented on #8
Agreed, we probably won't use the full namespace.  Since we haven't done an official release yet, I think I'm just going to edit it down to 7.  Thank you, @Public-Health-Bioinformatics, I really appreciate your input!

[2016-12-15 19:04] Public-Health-Bioinformatics commented on #3
You could see what the obo-discuss@lists.sourceforge.net list people think.  But I see the ORCID ids look like: orcid.org/0000-0002-8844-9165 .  It would be great if they had a "user handle" alternate id for the same entity, e.g. orcid.org/damion_dooley .

[2016-12-15 21:28] marijane commented on #3
Part of the reason I have this question is that I recently read the OBO Tutorial, in which ORCIDs are used to identify investigators in data!  But you're right, asking the list is a good idea.

[2018-09-05 23:12] marijane commented on #8
This issue was moved to data2health/credit-ontology#1

[2018-09-05 23:12] #8 closed

[2018-09-05 23:14] marijane commented on #4
This issue was moved to data2health/credit-ontology#3

[2018-09-05 23:14] #4 closed

[2018-09-05 23:14] marijane commented on #3
This issue was moved to data2health/credit-ontology#4

[2018-09-05 23:14] #3 closed

[2018-09-05 23:15] marijane commented on #2
This issue was moved to data2health/credit-ontology#5

[2018-09-05 23:15] #2 closed

[2018-09-05 23:15] marijane commented on #1
This issue was moved to data2health/credit-ontology#6

[2018-09-05 23:15] #1 closed

[2018-09-05 23:15] #6 closed

[2018-11-29 17:14] marijane opened #10 "Import oboinowl and map classes to CRediT"
We want to use the OBO hasSynonym relationship to map CRO classes to credit-ontology.

[2018-12-10 18:06] nicolevasilevsky opened #12 "Map research outputs to existing ontology terms"
Per our meeting at Rocky, I will map research outputs from NISO to existing ontology terms in this spreadsheet: https://docs.google.com/spreadsheets/d/1Mw8gK2NUGM8po7GGRtJTShRM2QNFoR19VJrjQuVCDW8/edit#gid=1619162717

[2018-12-11 02:08] nicolevasilevsky commented on #12
first pass is done

[2018-12-11 02:08] #12 closed

[2019-01-03 15:53] kglibrarian opened #13 "User experience with Attribution Ontology in OpenVIVO"
I used an older version of the attribution ontology in OpenVIVO. Overall, it worked very well. However, there were some instances where the output was a solo effort, and it felt rather uncomfortable to choose so many roles. Other times the output was part of a collaborative effort, and I wasn't sure if I could assume the role of "project management" when it was a team effort, even though I felt I

[2019-03-29 18:50] cmungall commented on #7
did you manage to get around this?

[2019-04-01 13:48] mellybelly opened #14 "Should contribution roles be object properties?"
if we are to use them in triples
person <-contribution role-> artifact
we will need to figure out the best practice for doing so.

[2019-04-01 17:26] marijane commented on #14
In the original OpenRIF CRO, we had a Contributorship class which connected people with their contributor roles via the BFO bearer_of and inheres_in relationships and the VIVO relates and related_by relationships.  We still have this Contributorship class, but it looks like it's parent class has been created as a native CRO class, rather than importing vivo:Relationship.

This seems like a candida

[2019-04-01 17:28] marijane commented on #7
Hi @cmungall,

I think this might be a legacy ticket from when I created this repo with the original Ontology Starter Kit.  RIght now we have both BFO and IAO import files and I think they were generated by the ODK?

If I recall correctly, my original concerns were about the CRO being tied to BFO.  I have this idea that I would like there to be different versions of the CRO that work with various

[2019-04-01 18:08] mellybelly commented on #14
I do think we need consistency with OBO ontologies, we could have a contribution process in OBI?
I also completely agree that we ALSO need consistency with schema.org and their roles.
I am not opposed to releasing this as multiple flavors. We could also think about how it relates people to objects in contexts like biolink as well- which is ontology neutral wrt to serializations, perhaps something

[2019-04-01 22:46] cmungall commented on #14
I think it would be convenient to make triples `artefact property personURI`. E.g. in Noctua we may want a reviewer property between a model and a curator.

But I think it's good to have a more granular representation so things can hang off the role instance

However, it can be confusing if you publish shadow URIs. We have done this in RO but it causes confusion.

[2019-04-01 22:50] cmungall commented on #7
What I would do is import the IAO classes you need via MIREOT in ROBOT, and don't take anything higher level than you need. You can then release alternate bridge files for different UOs

[2019-04-02 20:36] diatomsRcool commented on #14
Not sure if this helps....
https://docs.google.com/document/d/11ikZN5hGFqqaCdElaqP-K-_xHaLn6SftBHzaWUTKIH4/edit#

These are recommendations developed via the Research Data Alliance. We are also working with VIVO to add Activity classes.

[2019-05-07 20:18] diatomsRcool commented on #14
FYI - our work with ORCID and RDA is paying off. We'll have specimens on ORCID profiles soon. We have a pilot that is working. ORCID is adding a physical object work type to their schema.

[2019-05-07 20:31] mellybelly commented on #14
@diatomsRcool can you make sure all the roles you need are in CRO? also could use some help thinking about OWL punning so that we can use CRO as object props vs. classes.

[2019-05-08 13:56] diatomsRcool opened #16 "NTR: Curator role"
For new term requests, please provide the following information:

## Preferred term label

Curator role

## Synonyms

## Textual definition

Management activities to annotate, maintain, research, and preserve physical objects to maximize their use for research and education now and into the future.

## Suggested parent term

contributor role

## Attribution

0000-0002-2908-3327

## Notes
The curat

[2019-05-08 14:01] diatomsRcool opened #17 "NTR: collector role"
For new term requests, please provide the following information:

## Preferred term label

Collection role

## Synonyms

## Textual definition

Activities to obtain physical objects for research purposes or to add to a collection

## Suggested parent term

contributor role

## Attribution

0000-0002-2908-3327

## Notes

Current collector role applies only to data

[2019-05-21 22:37] nicolevasilevsky opened #19 "reclassify CREDIT_00000002 'data curation role'"
should CREDIT_00000002 'data curation role' be a child of CRO_0000015 data role?

[2019-05-25 14:58] cmungall commented on #14
Punning the Class and OP is valid, and you can even have a property chain to infer the simple triple (provided you use quite specific relations otherwise it gets complicated)

[code]

Note that punning classes and properties reveals a few bugs in some toolchains, I will report separately

[2019-05-25 15:51] LisaOKeefe1 commented on #14
@cmungall thanks so much for your contribution here! We really appreciate it.

[2019-05-28 02:11] cmungall commented on #14
hmm Ignazio says this is in fact not valid, trying to find out more..

[2019-05-28 18:48] diatomsRcool opened #20 "Clarify similar classes"
What is the difference between:
systems administrator role and systems administration role
project administrator role and program administration role
supervision role and supervisory role

[2019-05-28 18:49] diatomsRcool opened #21 "preservation role"
According to the definition given, I propose changing the label to "deposition role".

[2019-05-28 18:49] diatomsRcool opened #22 "technical writing role"
I propose making this a subclass of documentation role

[2019-05-28 18:50] diatomsRcool opened #23 "supervision role and team management role"
I propose moving these under infrastructure role

[2019-05-28 18:52] diatomsRcool opened #24 "computer programming role"
According to the definition, this includes requirements analysis. I think requirements analysis is a separate activity, so I propose a new term, requirements analysis role. The person who does the programming is not always the person who does the requirements analysis.

[2019-05-28 18:53] diatomsRcool opened #25 "clarify software design role"
Please add a definition. It's not clear where this fits and how it does not overlap with other software related roles.

[2019-05-28 18:54] diatomsRcool opened #26 "software project management"
I propose that this be a subclass of infrastructure role

[2019-05-28 19:07] nicolevasilevsky commented on #25
This has a def:
Creation of low-level software component and algorithm design.

Do you not see it? I am looking at the cro-edit.owl file

[2019-05-28 19:07] nicolevasilevsky commented on #25
(not sure what is meant by low-level software)

[2019-05-28 19:10] nicolevasilevsky commented on #25
Oh, I guess low-level software is a proper term (I'm just not familiar with it): https://en.wikipedia.org/wiki/Low-level_design

[2019-05-28 19:21] diatomsRcool commented on #25
I was not familiar with it either. I guess a link to the wikipedia page would help

[2019-05-28 19:58] nicolevasilevsky commented on #25
I agree. I think we should add dbxefs for all the defs

[2019-05-29 05:22] nicolevasilevsky opened #27 "suggested def: Community engagement role"
A communication role which involves the dynamic relational process that facilitates communication, interaction, involvement, and exchange between an organization and a community for a range of social and organizational outcomes.

source: Johnston, K. A. (2018). Toward a theory of social engagement. In K. A. Johnston & M. Taylor (Eds.), The Handbook of Communication Engagement (pp. 19-32). Hoboken,

[2019-05-29 05:28] nicolevasilevsky opened #28 "suggested def: documentation role"
A communication role in which one records the details of an event, a process, a workflow, etc.

source:
https://dictionary.cambridge.org/us/dictionary/english/document

[2019-05-29 05:31] nicolevasilevsky opened #29 "suggested def: 'graphic design role'"
A communication role that utilizes the art or profession of using design elements (such as typography and images) to convey information, create visualizations, or create an effect.

source: https://www.merriam-webster.com/dictionary/graphic%20design

[2019-05-29 05:47] nicolevasilevsky commented on #20
Great question, @diatomsRcool. I don't think systems administrator role and systems administration role are different (even though they are classified under different parents. I think we should obsolete
CRO_0000077 'systems administration role'

Here is a suggested def for CRO_0000051 'system administrator role'
def: A software systems role that involves maintenance and operation of a computer sys

[2019-05-29 05:53] nicolevasilevsky commented on #20
program administration role and project administration role have the same text defs:

'program administration role'
Management and coordination responsibility for the research activity planning and execution.

Suggested revision:
An infrastructure role that is accountable for management and coordination of a program, to help achieve the program goals.

'project administration role'
def:
Management

[2019-05-29 05:56] nicolevasilevsky commented on #20
supervision role and supervisory role also have the same defs:

supervision role:
parent: 'contributor role'
Oversight and leadership responsibility for the research activity planning and execution, including mentorship external to the core team.

supervisory role:
parent: 'infrastructure role'
def: Oversight and leadership responsibility for the research activity planning and execution, including

[2019-05-29 05:57] nicolevasilevsky commented on #21
the def should define OA (open access)

[2019-05-29 05:59] nicolevasilevsky commented on #21
This def does seem more specific than the label. Maybe the def should be more general, like:
set of activities aimed at prolonging the life of a record
source: https://www.wikidata.org/wiki/Q830393

[2019-05-29 06:02] nicolevasilevsky commented on #22
I think the primary label should be 'software documentation role' and 'technical writing role' should be a new class/ child of documentation role (as @diatomsRcool said)

[2019-05-29 06:03] nicolevasilevsky commented on #23
related to ##20

[2019-05-29 06:06] nicolevasilevsky commented on #26
there should probably be a 'project management role' class too, I think this is considered different that 'project administration'

[2019-05-29 13:10] mellybelly commented on #20
Agreed they seem the same to me. I don't think the infrastructure role as the parent is correct though, there can be many other kinds of supervision. So yes, I'd obsolete the latter.

[2019-05-29 18:37] #16 closed

[2019-05-29 18:37] #17 closed

[2019-05-29 21:14] nicolevasilevsky opened #30 "create a CRO webpage"
@marijane suggested we create a GitHub website for the CRO, which includes an editors guide (which would include annotation conventions), and an FAQ page.

[2019-05-30 01:51] kristiholmes commented on #30
love it!

[2019-05-30 18:36] mbrush opened #31 "Various suggestions for improving definitions and labels"
Hi.  Reporting a handful of minor issues i noted on reviewing the CRO - mostly concerning definitions and labels.  Happy to split these out int separate tickets if you want - just say the word.

- [x] 1. As noted by others, a challenge in evaluating the ontology is that so many terms lack definitions - and many that exist are not sufficiently discriminating.  This can make it hard to evaluate how

[2019-05-30 18:41] nicolevasilevsky opened #32 "add definitions to CRO terms lacking text defs"
Marijane did a SPARQL query and created a list of all the CRO terms that are missing definitions:
https://docs.google.com/spreadsheets/d/1QqKUtSQ701gq1bwEY2EF-8FrYnZUlCRvW3V0PY02euM/edit#gid=0

If anyone has suggested defs, please add them here.

[2019-05-30 18:42] nicolevasilevsky commented on #31
Thanks @mbrush, this is incredibly helpful!

@marijane created a list of terms with missing defs, and I created a separate ticket (#32)

I'll take a look at all your comments asap and will work through them.

Thank you!

[2019-05-30 21:47] mbrush commented on #14
Hi all.  Thought I'd share how we modeled Contributions in the SEPIO model, as I dealt with similar questions and considerations as those described above. For SEPIO we needed a way to precisely model contributions an agent made to an artifact such as an assertion or piece of evidence  - including the identity of the contributing agent, methods they followed, roles they  played, organizations acted

[2019-05-31 02:26] mellybelly commented on #14
@nicolevasilevsky @kristiholmes @mbrush 's proposal is not dissimilar from the model we discussed at Rocky, where the role is reified and is a class. It would be good to all get on the phone together and discuss. If this can work for GA4GH, GO, CD2H, OBO, then it will be golden.

[2019-05-31 08:31] cmungall commented on #14
Matt, you have a contribution potentially having N agents. I would think of
this always being a single agent. Even for a group contribution, the group
is the agent. (you could break this down into contibution parts, and the
group into its members)

Under this, is there a need for both a role and a process? Isn't a
contribution always a realization of a role, and in 1:1?

(yes you are right, I have

[2019-05-31 15:53] diatomsRcool commented on #14
I take your point, but I suspect this may not always be the case. Could someone engage in a paper correcting process as an author, an editor, or a reviewer? This is a trivial example, but I've had people from the biodiversity collections space be adamant about not including roles and others who have been adamant about including them. It may be an issue when talking about physical specimen manageme

[2019-06-04 00:41] nicolevasilevsky opened #34 "obsolete CRO_0000088 'original draft preparation role'"
Per Matt's review, (#31),  CRO_0000088 'original draft preparation role' and CREDIT_00000013 'writing original draft role' are almost identical.

I suggest we obsolete CRO_0000088 'original draft preparation role' and move CREDIT_00000013 'writing original draft role'  to be a child of 'author role'.

[2019-06-04 00:57] mbrush commented on #14
The SEPIO model would naturally support such a representation – where a Contribution is 1:1 with an agent, and this agent could be a Group/Organization comprised of many individual persons. But you could instead or in addition represent more specifically the individual contributions of each member, if desired. See below.

Typically, the Contribution process realizes a single/specific role played b

[2019-06-04 01:15] nicolevasilevsky commented on #23
on #20 @mellybelly said " I don't think the infrastructure role as the parent is correct though, there can be many other kinds of supervision."

I'll move team management role under infrastructure role though

[2019-06-06 05:28] marijane commented on #34
Agreed on both.

[2019-06-06 05:30] marijane commented on #19
I would like to hold off on this until we figure out a definition for data role.

[2019-06-06 05:47] marijane commented on #20
it looks like all of these were inadvertent duplicates of existing CRediT roles.

[2019-06-06 20:00] nicolevasilevsky opened #42 "need definition for data role"
CRO_0000015 data role needs a definition

related to #19

See suggested defs for child terms in this [spreadsheet](https://docs.google.com/spreadsheets/d/1QqKUtSQ701gq1bwEY2EF-8FrYnZUlCRvW3V0PY02euM/edit#gid=0)

[2019-06-10 19:05] #27 closed

[2019-06-10 19:07] #20 closed

[2019-06-10 19:10] #25 closed

[2019-06-10 19:17] nicolevasilevsky opened #44 "suggested def for data aggregation role"
## Preferred term label
data aggregation role

## Textual definition
The compiling of information with intent to prepare combined datasets for data processing.

Source:  Stanley, Jay; Steinhardt, Barry (January 2003). "Bigger Monster, Weaker Chains: The Growth of an American Surveillance Society". American Civil Liberties Union.
(This is from wikipedia: https://en.wikipedia.org/wiki/Data_aggregati

[2019-06-10 19:24] nicolevasilevsky commented on #42
can anyone help with this text def? This seems like it should be really broad, I drafted a def below:

A role that encompasses any kind of management, handling, wrangling or manipulation of data.

[2019-06-10 19:28] LisaOKeefe1 commented on #42
@nicolevasilevsky or  "A role that encompasses effective and efficient operation and usage of data, including, but not limited to management, handling, or manipulation.

[2019-06-10 19:32] #21 closed

[2019-06-10 19:52] nicolevasilevsky commented on #13
Hi @kglibrarian, thanks for the feedback. We are currently working on adding definitions, I like the idea of adding examples too. If you have a chance to review the definitions, we'd love any feedback.

[2019-06-10 20:20] nicolevasilevsky commented on #31
I think we've addresses points 1 and 2

for point 3 - I will obsolete CRO_0000088 'original draft preparation role' and move CREDIT_00000013 'writing original draft role' to a child of 'author role'

[2019-06-10 20:32] nicolevasilevsky opened #52 "issues with saving when I edit superclass for writing original draft role"
I want to reclassify writing original draft role to be a child of 'author role'. When I change the superclass to be 'author role', it won't let me save the file, when I click 'save', it behaves like I am doing 'save as'

![image](https://user-images.githubusercontent.com/6722114/59224838-2be6ca00-8b84-11e9-9867-3b7d8ebe9bf6.png)

[2019-06-10 20:32] nicolevasilevsky commented on #52
related to #31

[2019-06-10 20:33] nicolevasilevsky commented on #31
I will obsolete CRO_0000086 'research conceptualization role'

[2019-06-10 20:37] nicolevasilevsky commented on #31
'educational training role' and 'educational instruction role' - lack definitions, but sound very much the same. --> I obsoleted educational training role on this PR: https://github.com/data2health/contributor-role-ontology/pull/45

[2019-06-10 20:38] nicolevasilevsky commented on #31
'IT hardware systems design and implementation role' and 'hardware systems role'  - I added defs, there is a pending PR, we should revisit this once the PR is merged

[2019-06-10 20:40] nicolevasilevsky commented on #31
a suggested def for data role is here #42

the def of formal analysis role and 'visualization role' come from casrai. @kristiholmes do you think we should update these?

[2019-06-10 20:42] nicolevasilevsky commented on #31
@mbrush point 5 - there isn't a class called 'data visualization role', do you mean CREDIT_00000012 'visualization role'?

[2019-06-10 20:44] nicolevasilevsky commented on #31
point 5 - I will update the definition of 'figure development role'

[2019-06-10 20:54] nicolevasilevsky commented on #31
point 8 - Rename 'resource role' to 'resource provision role'. I am having the same problem noted in #52

[2019-06-10 20:55] nicolevasilevsky commented on #31
point 9 - @marijane @mellybelly, could we add multiple parents here?

[2019-06-10 21:57] nicolevasilevsky opened #54 "move definition source to an annotation on the definition"
to do

I will do this after the recent PRs are merged

[2019-06-12 16:28] #34 closed

[2019-06-12 16:41] #24 closed

[2019-06-12 16:44] nicolevasilevsky opened #55 "question: alt term for CREDIT_00000001 conceptualization role"
@marijane I added an alt term to CREDIT_00000001 conceptualization role: research conceptualization role

I did this in the cro-edit.owl file, but realized maybe this change should have been made in the imported credit.owl file?

[2019-06-12 16:54] #22 closed

[2019-06-12 20:24] #28 closed

[2019-06-12 20:53] #44 closed

[2019-06-12 21:30] #42 closed

[2019-06-12 21:46] nicolevasilevsky commented on #54
done

[2019-06-12 21:46] #54 closed

[2019-06-12 22:21] nicolevasilevsky commented on #19
I added a def of data role, could you please revisit this @marijane?

[2019-06-12 22:40] nicolevasilevsky commented on #32
all terms have defs now (there are some pending term requests) but I am going to close this ticket

[2019-06-12 22:40] #32 closed

[2019-06-13 07:21] kristiholmes commented on #31
hi @nicolevasilevsky - resources role (from 8 above) seems really important to keep as-is, actually.  I would especially see this as a contributor role that an organization might assert eg a core that provides resources (which I would argue could be expanded to include services or financial resources) used in the execution of a research activity.  What do you think?

from CREDIT:
Provision of stud

[2019-06-13 07:28] kristiholmes commented on #31
hi @nicolevasilevsky and @marijane -  regarding 7 above,  I think it is important to keep investigation role (and every CREDIT concept) in their WT form. I would see this as something that could be a more general concept.  Perhaps I am not understanding what you are asking.

To confirm, all of the CREDIT classes are still in this data model, correct? thanks for your work on this - let me know if i

[2019-06-13 07:30] kristiholmes commented on #31
hi @nicolevasilevsky and @marijane - regarding 11 above, same basic question/opinion from me as I mentioned on 7 and 8. :-)

[2019-06-13 16:32] nicolevasilevsky commented on #31
Hi @kristiholmes sounds good to leave the CREDIT classes in their original form. Yes, nothing has been changed for the CREDIT classes, they are still in CRO and in their original form.
Thanks!

[2019-06-18 01:02] marijane commented on #55
i think it's fine to have this change in CRO since it's context is CRO.

[2019-06-18 01:07] #29 closed

[2019-06-18 01:21] marijane commented on #52
it's doing this because this class and its subclassof relationship are defined in credit-ontology, so it's trying to save a new credit-ontology file.  we may be stuck with this relationship.  how about adding author role as an additional parent class?

[2019-06-18 01:25] marijane commented on #19
this will have an issue similar to #52, since it's a credit role.  we can add data role as an additional superclass but we won't be able to move it.

[2019-06-18 17:53] #23 closed

[2019-06-18 18:00] marijane commented on #31
my thoughts:

- i agree that we should not change names or definitions for roles that are in credit; i would consider that term hijacking.  i would be okay with adding alternate or preferred labels/definitions in the CRO context as long as they are consistent with/in the spirit of the original label or definition in credit.
- this makes me realize that some of the duplicate-ish classes that have b

[2019-06-19 20:39] mbrush opened #68 "Clarify name/purpose of the 'author role' grouping"
The name 'author role' suggests that all roles captured for authors of a publication should come from this hierarchy. But this is not the case. Roles for publication authors can come from anywhere in the CRO - and indeed many of the original CREDIT roles meant for capturing contributions to pubs are not in the author role hierarchy (e.g. visualization role, resource provider role)

As the roles in

[2019-06-19 22:23] mbrush opened #69 "Clarify 'resource role'"
The 'resources role' is defined from the perspective of a project or publication to which an agent **provides** a research resource:  "Provision of study materials, reagents, materials, patients, laboratory samples, animals, instrumentation, computing resources, or other analysis tools".

If I want to capture the fact that an agent was the creator of a physical resource, e.g. a transgenic mouse, w

[2019-06-19 23:29] nicolevasilevsky commented on #55
ok cool, I'll close this. thanks!

[2019-06-19 23:29] #55 closed

[2019-06-20 00:06] nicolevasilevsky commented on #31
good point - I added alt terms from obsoleted term on the 'replaced by' terms

[2019-06-20 00:08] #19 closed

[2019-06-20 00:15] #26 closed

[2019-06-20 00:16] nicolevasilevsky opened #73 "ntr: project management role"
For new term requests, please provide the following information:

## Preferred term label
project management role

## Synonyms
PM role

## Textual definition
Planning, management, and monitoring of projects.

## Suggested parent term
'infrastructure role'

[2019-06-20 00:17] #52 closed

[2019-06-20 17:28] mbrush opened #74 "Develop a CRO Contribution Data Model"
It was recently proposed that we develop a data model specification based on the CRO to support clear and concise representation of contributions made by agents to research artifacts. I am starting this ticket to initiate this work (although it will likely end up in its own repo?).

I created two documents to get things started:
1. A [Project Plan](https://docs.google.com/document/d/100lB0RjDVzJYJ

[2019-06-20 18:39] nicolevasilevsky commented on #73
see
https://github.com/data2health/architecting_attribution/issues/54#issuecomment-504136017

[2019-06-25 19:53] nicolevasilevsky commented on #31
I added an alt term to 'resources role'

[2019-06-25 20:00] nicolevasilevsky commented on #31
I think everything on this ticket has been addresses now - pending PRs

[2019-06-25 20:43] #73 closed

[2019-07-03 19:09] marijane opened #77 "Reconsider import of credit-ontology vs MIREOT"
I refactored CRO to import credit-ontology because it was so small, MIREOT seemed silly.

It introduced two problems, however:
* Two root contributor role classes
* Locking us into the credit-ontology class hierarchy

If we revert to using MIREOT, that would eliminate both of these problems, and I'm not sure there's any downside.

[2019-07-03 19:28] marijane commented on #30
Note: in the [Project Plan](https://docs.google.com/document/d/100lB0RjDVzJYJX9hQ1pe_OY90xCSA6mhDfK3xYav3Ow/edit#heading=h.t4m4ibp16pif), Matt suggests we create a ReadTheDocs site for documentation.

[2019-07-25 23:52] nicolevasilevsky commented on #30
this is done

[2019-07-25 23:52] #30 closed

[2019-07-25 23:53] nicolevasilevsky opened #79 "review content in CRO website"
the website is done and ready for review

[2019-07-28 15:34] kristiholmes commented on #79
I just went through all pages and made a few edits and updates.  The next time we talk, let's have a 5 min discussion to confirm that everyone is ok with the approach I took on the citation, acknowledging the project as the author (since people are listed on the project pages).

[2019-07-28 15:34] #79 closed

[2019-08-02 14:05] diatomsRcool opened #82 "NTR: object acquisition role"
For new term requests, please provide the following information:

## Preferred term label

object acquisition role

## Synonyms

(e.g., Absent spleen)

## Textual definition

a contributor role wherein the bearer collects physical objects for research purposes

## Suggested parent term

contributor role

## Attribution

http://orcid.org/0000-0002-2908-3327

[2019-08-02 14:08] diatomsRcool commented on #82
I will need help with this. I need some roles for biodiversity collections, but they also need to be useful for people who are collecting art for museums. Under "object acquisition role" I would want to put "specimen collector role", "primary collector" etc.

Maybe "research" should be "scholarly" in the definition above.

[2019-08-02 16:04] nicolevasilevsky commented on #82
what about: A contributor role wherein the bearer collects physical objects for research or scholarly purposes.

In CRO, we don't tend to write very formal definitions. Could we consider revising this to something like:
Acquisition of physical objects for research or scholarly purposes.

and maybe provide an example, such as collecting objects for a museum collection or specimens for research purp

[2019-08-02 16:49] diatomsRcool commented on #82
ok. that is fine. Shouldn't I start a new NTR issue for the subclasses?

[2019-08-02 20:08] marijane commented on #82
Acquisition is a core function in libraries and archives, here's the definition from the Online Dictionary of Library and Information Science -- perhaps we can borrow from it for the definition in CRO? https://www.abc-clio.com/ODLIS/odlis_a.aspx#acquisitions

Also, is the word "object" strictly necessary in the name of this role?  "acquisition role" seems pretty descriptive to me.

[2019-08-02 20:18] diatomsRcool commented on #82
Interesting definition. It is quite different from the biological notion of collecting. Perhaps we have a "collection role" and "specimen collection role" and "acquisition role" are subclasses?

I agree about object.

[2019-08-07 19:20] nicolevasilevsky commented on #82
sure! (Either way is fine with me)

[2019-08-07 19:25] nicolevasilevsky commented on #82
@marijane this is the def you are suggesting borrowing from:
The process of selecting, ordering, and receiving materials for library or archival collections by purchase, exchange, or gift, which may include budgeting and negotiating with outside agencies, such as publishers, dealers, and vendors, to obtain resources to meet the needs of the institution's clientele in the most economical and expedi

[2019-08-08 19:05] marijane commented on #77
Done!

[2019-08-08 19:05] #77 closed

[2019-08-08 20:23] nicolevasilevsky commented on #31
The PRs have been merged, closing

[2019-08-08 20:23] #31 closed

[2019-08-16 18:19] nicolevasilevsky opened #83 "NTR: peer review role"
For new term requests, please provide the following information:

## Preferred term label

peer review role

## Synonyms

manuscript review role
grant review role

## Textual definition
Evaluation of scientific, academic, or professional work, such as manuscripts or grants by others working in the same field.
Source: https://www.lexico.com/en/definition/peer_review

## Suggested parent term
'contr

[2019-08-16 18:24] nicolevasilevsky opened #84 "NTR: presenter role"
For new term requests, please provide the following information:

## Preferred term label

presenter role

## Synonyms

presentation role
lecture role
lecturer role

## Textual definition

Oral presentation intended to present information or teach people about a particular subject, such as a talk or poster presentation at a conference.
Source: https://www.wikidata.org/wiki/Q603773

## Suggested pa

[2019-08-16 18:36] nicolevasilevsky opened #85 "add synonym to 'funding acquisition role'"
grant acquisition role

@mellybelly @marijane @kristiholmes
let me know if there are any objections

[2019-08-16 18:40] nicolevasilevsky opened #86 "add synonym to 'formal analysis role'"
data analysis role

[2019-08-16 18:50] nicolevasilevsky opened #87 "NTR: patient advocate role"
new term request: patient advocate role

In the personas, there is someone who "serves as a "patient voice" to incorporate patient reported outcomes into trial design"

How would we annotate this role? Should we create a new role 'patient advocate role' or something like this?

cc @mellybelly @kristiholmes @marijane

[2019-08-20 13:05] diatomsRcool commented on #82
- [ ] collection role
- [ ] specimen collection role
- [ ] acquisition role

[2019-08-20 13:07] diatomsRcool opened #88 "NTR: collection role"
For new term requests, please provide the following information:

## Preferred term label

collection role

## Synonyms

## Textual definition

see discussion in #82
Collection of physical objects for research or scholarly purposes.

## Suggested parent term

contributor role

## Attribution

http://orcid.org/0000-0002-2908-3327

[2019-08-20 13:11] diatomsRcool opened #89 "NTR: specimen collection role"
For new term requests, please provide the following information:

## Preferred term label

specimen collection role

## Synonyms

## Textual definition

See discussion #82
Obtaining a material entity for potential use as an input during an investigation.

## Suggested parent term

collection role

## Attribution

orcid.org/0000-0002-2908-3327

[2019-08-20 13:13] diatomsRcool opened #90 "NTR: acquisition role"
For new term requests, please provide the following information:

## Preferred term label

acquisition role

## Synonyms

## Textual definition

See discussion #82
The process of selecting, ordering, and receiving materials or physical objects for research, scholarly, library or archival collections. For example, collecting objects for a museum collection, specimens for research purposes or books

[2019-08-20 13:17] diatomsRcool commented on #89
Should we relate this to OBI:0000659?

[2019-08-28 13:39] diatomsRcool opened #91 "NTR: primary collector role"
For new term requests, please provide the following information:

## Preferred term label

primary collector role

## Synonyms

## Textual definition

In botany, this is the collector listed first for a particular specimen. Each specimen has one primary collector. The primary collector assigns a number to that specimen from his/her own number series.

## Suggested parent term

specimen collection

[2019-08-28 19:35] #88 closed

[2019-08-28 22:43] #91 closed

[2019-08-28 22:43] nicolevasilevsky commented on #91
added as CRO_0000094

[2019-08-28 22:43] nicolevasilevsky commented on #89
added as CRO_0000093

[2019-08-28 22:43] #89 closed

[2019-08-29 21:05] nicolevasilevsky opened #97 "NTR: discovery role"
for example for 1-pager

clinician discovered genetic mutation in patient

[2019-08-29 22:20] nicolevasilevsky opened #98 "NTR funding source role"
need for 1-pager use case

[2019-08-30 00:27] nicolevasilevsky commented on #83
can anyone comment if we want these additional roles (also #87 and #84)?

I'll add them as Pull Requests, but we don't have to include them.

[2019-08-30 00:45] #13 closed

[2019-08-30 00:52] mellybelly commented on #83
I think we need peer review role. There could be subclasses for grant peer review role, code peer review, and grant peer review (Check on the middle one if we have something else like that already).

[2019-08-30 00:53] mellybelly commented on #87
I like patient advocate role

[2019-09-05 04:39] #86 closed

[2019-09-05 04:41] #85 closed

[2019-09-05 04:54] #98 closed

[2019-09-05 04:58] #97 closed

[2019-09-05 05:01] #87 closed

[2019-09-05 05:09] #84 closed

[2019-09-05 05:16] #83 closed

[2019-09-06 17:58] nicolevasilevsky opened #104 "NTR: children of peer review role"
For new term requests, please provide the following information:

## Preferred term label

grant peer review role
grant peer review

## Suggested parent term

peer review role

Creating this ticket based on @mellybelly's comments in #83

Note: 'code peer review' should be a subclass of 'peer review role' as well

[2019-09-06 22:39] nicolevasilevsky commented on #82
I think we decided we don't need object acquisition role. I am closing this.

[2019-09-06 22:39] #82 closed

[2019-09-10 16:58] mbrush opened #107 "Ensure role definitions use consistent language"
All role definitions should be phrased consistently, and describe roles as being of the same ontological type.

At present, some define the class as a **role** (e.g.  educational role = "A role in which a person participates in the transfer of knowledge and skills, through teaching, development of educational materials or curriculum, through program development or other means.")

Others define the

[2019-09-10 16:58] mbrush commented on #107
I would propose explicitly defining them as **roles**, using language such as: "A role that is realized by  . . . (and then describe the type of activity that realizes the role and/or the type of agent that bears the role).

For example, rephrasing the **educational role** definition as "A role that is realized through the transfer of knowledge and skills, through teaching, development of educatio

[2019-09-10 17:11] mbrush opened #108 "NTR: 'creator role'"
## Preferred term label
'creator role'

## Synonyms

n/a

## Textual definition

A role used to indicate that an agent was the creator of an artifact (i.e. had significant or sole responsibility for its initial generation)

## Suggested parent term

contributor role

## Comment
This is a generic role to be used when a more specific term suitable for the contribution scenario is not available or wa

[2019-09-10 18:39] mbrush opened #109 "NTR: evaluator role"
## Preferred term label

evaluator role

## Synonyms

reviewer role, assessor role

## Textual definition

A role that is realized through the review and evaluation of an artifact - generally to assess its quality, completeness, relevance, or other characteristics.

## Suggested parent term

contributor role

## Comment

Evaluating an artifact does not involve modification of the assessed artifact

[2019-09-10 18:41] mbrush commented on #109
This is a more generic concept than the existing 'evaluation role' that lives in the 'infrastructure role' hierarchy.  I would suggest changing the label of this existing term to be more specific, and reflect its textual definition ("Evaluation is a systematic method for collecting, analyzing, and using information to answer questions about projects, policies and programs, particularly about their

[2019-09-10 18:43] mbrush commented on #109
Generally, this raises the issue of allowing for asserted multiple inheritance.  I think MI will be necessary and useful for the CRO, and that at least initially it will need to be asserted. Perhaps in the future we can axiomatize CRO classes to allow automated classification of MI (e.g. using a  "_realizedIn_ some Process" pattern).

[2019-09-10 18:46] mbrush opened #110 "NTR: submitter role"
## Preferred term label

submitter role

## Synonyms

depositor role

## Textual definition

A role that is realized through the act of formally submitting or depositing an artifact to be included in some larger resource (e.g. database, registry, collection, etc.)

## Suggested parent term

contributor role

## Comment

An agent submitting an artifact may or may not also have contributed to its cr

[2019-09-10 18:48] mbrush opened #111 "NTR: acceptor role"
## Preferred term label

acceptor role

## Synonyms

n/a

## Textual definition

A role that is realized through the act of formally accepting an artifact for inclusion in some larger resource  (e.g. database, registry, collection, etc.)

## Suggested parent term

contributor role

## Comment

A agent accepting an artifact possesses the authority to decide if it belongs in a particular resource or

[2019-09-10 18:51] mbrush opened #112 "NTR: modifier role"
## Preferred term label

modifier role

## Synonyms

updater role?

## Textual definition

A role that is realized through the modification of an existing artifact (e.g. adding or removing content to/from a document, updating information in a data record, fixing errors in a manuscript,  etc.)

## Suggested parent term

contributor role

## Comment

The nature of a modification will vary depending

[2019-09-10 19:17] #112 closed

[2019-09-10 19:31] #111 closed

[2019-09-10 19:34] #110 closed

[2019-09-10 20:01] nicolevasilevsky commented on #109
We have some asserted multiple inheritances currently

[2019-09-10 20:02] nicolevasilevsky commented on #109
for example: CRO_0000043

[2019-09-10 20:05] nicolevasilevsky commented on #109
I relabeld CRO_0000079 to 'project, policy or program evaluation role'

[2019-09-10 20:21] #109 closed

[2019-09-10 20:27] #108 closed

[2019-11-16 00:49] kristiholmes opened #120 "CRO edits for next release"
Walked through the CRO and have some minor edits to suggest which are outlined in an [openly accessible google doc](https://docs.google.com/document/d/153JR1pVcy3PaBj5I_1pr8t0HTD2AMFfCCvpfaKpmdKc/edit?usp=sharing)

I touched base with Nicole before submitting en masse via google doc, but please let me know if it is more helpful for me to submit each individually. A few classes have been added whic

[2019-11-20 22:50] nicolevasilevsky commented on #120
I did an first pass at edits to the ontology. There are some outstanding questions in the google doc for @kristiholmes.

@marijane can you take a look at my PR #121?
The build is failing b/c of the import file, I believe.

Thank you!

[2019-11-20 23:34] marijane commented on #120
Yep, builds will fail until I back out the CRediT MIREOT, no worries.  I plan to fix this when I do the next release.

[2019-11-21 11:19] kristiholmes commented on #107
hi @nicolevasilevsky, I just saw this and thought it would be useful to touch base on, since we are writing some definitions.  What are your thoughts on Matt's points? (thanks @mbrush!)

[2019-11-21 18:07] nicolevasilevsky commented on #107
yes, I like the idea of having a consistent structure for definitions. I can work on this.

[2020-02-28 01:41] nicolevasilevsky opened #123 "evaluate report from OBO dashboard"
http://obo-dashboard-test.ontodev.com/

Report here: http://obo-dashboard-test.ontodev.com/cro/dashboard.html

[2020-03-26 14:30] mbrush opened #124 "Coverage of contribution roles implicit in schema,org CreativeWork class"
We should review the properties of the [Creative Work](https://schema.org/CreativeWork) class in schema.org and make sure the CRO has roles defined to cover each type of contribution represented by these properties. Some examples include `creator`, `author`, `editor`, `funder`, `publisher`, `maintainer`, `sponsor`, `accountable person`.

[2020-06-03 14:01] mellybelly opened #125 "consider creating a datacite subset"
https://support.datacite.org/docs/schema-optional-properties-v43

essentially we could create a Datacite subset tag for those that align.

[2020-06-04 12:46] jcolomb commented on #125
Do you have contacts with datacite to work on the expansion of the matches?

[2020-06-25 22:02] jcolomb commented on #120
I think this can be closed ?

[2020-06-26 10:49] jcolomb opened #126 "Credit and CRO"
The credit terms have no information in CRO, so CRO is not usable in absence of CREDIT.
It means that to use CRO, one needs to access both ontologies and merge them before starting to play around.

Is there a way to make CRO independent of CREDIT?

[2020-07-10 22:12] #120 closed

[2021-06-08 12:20] cthoyt opened #127 "Add obofoundry topic to repo metadata"
The OBO Foundry has recently created a topics page at https://github.com/topics/obofoundry. It would be great if you could add the `obofoundry` topic to your repository, since it's currently listed as active in the OBO Foundry. If you're not sure how to do that, follow the instructions [here](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/classifying-your

[2021-06-09 21:34] cmungall commented on #126
how are you consuming CRO? The OWL file imports credit_import, so you should see it if you are using owl tooling. But nevertheless I recommend CRO uses a standard pipeline and merge imports prior to release

[2021-06-09 21:37] cmungall opened #129 "is CRO compatible with ORCID?"
cc @elishawc - we would like to adopt CRO but it seems ORCID is only compatible with CREDIT?

https://info.orcid.org/credit-for-research-contribution/

are there recommendations for using CRO but having things be reflected correctly in ORCID? E.g is there a standard rollup table?

[2021-06-10 14:53] elishawc commented on #129
Why CRO and not CrediT?

This is probably a Q for OSTI (ORCIDconsortium@osti.gov) or our ORCID representative (b.minihan@orcid.org).

[2021-06-10 17:55] #127 closed, assigned to nobody

[2021-08-25 09:20] jcolomb commented on #125
Any news on this, could be interesting, considering https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/9#issuecomment-904655975

[2021-09-17 21:15] StroemPhi commented on #129
I thought CRO was incorporating CrediT. We would also like to adopt an ORCID compatible contributor ontology in TIB's ConfIDent project and as far as I can tell the VIVO comunity would do so as well.

[2021-09-17 21:17] StroemPhi commented on #126
@cmungall may that be due to not having the most recent ODK for the release pipeline?

[2021-09-17 21:33] marijane commented on #129
Our CrediT import is in https://github.com/data2health/contributor-role-ontology/blob/master/imports/credit_import.owl and is referenced in the built CRO files.  Note that this is our OWL implementation of CrediT, as far as I know CASRAI has not published an RDF version of their own, but we try to use all their URLs.

[2021-09-17 21:34] marijane commented on #129
Our CrediT repo is at https://github.com/data2health/credit-ontology

[2021-09-17 21:38] marijane commented on #126
Getting the CrediT import to work in ODK was a huge hacky hassle because we chose not to submit it as an OBO ontology. I don't know if newer ODK releases do a better job of handling non-OBO imports. I'm hoping another data2health team member might be able to weigh in on the possibility of updating things, because I am not currently funded to work on it.

[2021-09-17 21:39] marijane commented on #129
As for whether CRO is compatible with ORCiD, I do not know what that might involve.  I suspect that's ORCiD's call, because it involves their API.

[2021-09-20 07:12] StroemPhi commented on #123
New dashboard link: http://dashboard.obofoundry.org/dashboard/cro/dashboard.html

[2022-07-25 17:08] vincentml opened #130 "NISO identifiers for CRediT roles"
The Contributor Roles Taxonomy (CRediT) is now being maintained by NISO to carry on the work that was started at CASRAI. The CRediT taxonomy can now be found at https://www.niso.org/standards-committees/credit as well as at https://credit.niso.org/. CRediT has been approved as an official NISO/ANSI standard, and NISO has formed a standing committee to support the future development and maintenance

[2022-07-26 22:41] nicolevasilevsky commented on #130
Hi @vincentml, Yes! I should be able to work on this. I haven't worked on CRO in quite some time but I'll work on this asap and let you know if I have any questions.

[2022-07-26 22:55] marijane commented on #130
Thanks @nicolevasilevsky!

@vincentml, Nicole and I had a chat and we want to talk with the CD2H Architecting Attribution PIs before we make any changes, especially since we'll have to do some work to decommission our CRediT URIs and CRO is currently unfunded. I just want to make sure everyone who was involved with CRO is apprised of what's going on so nobody is surprised when we make the change.

[2022-08-12 08:22] StroemPhi opened #132 "consider making 'coordination role' (CRO_0000081) more precise"
Trying to reuse a much as possible from CRO in the role branch of the [Academic Event Ontology ](https://github.com/tibonto/aeon), I was asking myself what would be the best parent for the roles that are involved in the organization of academic events and the maintanance of event series. In the ['infrastructure role' (CRO:0000078)](https://www.ebi.ac.uk/ols/ontologies/cro/terms?iri=http%3A%2F%2Fpu

[2022-08-15 17:40] nicolevasilevsky commented on #132
@kristiholmes @marijane @mellybelly - any objections to the proposed changes above?

I will work on a pull request for this issue, thanks for reporting this @StroemPhi.

[2022-08-15 19:02] StroemPhi commented on #132
@nicolevasilevsky thank you, that'll be great.
May I suggest, while you at it, to sharpen the definition of ['project management role' (CRO:0000065)](http://purl.obolibrary.org/obo/CRO_0000065) to something along the lines of:
_An infrastructure role that inheres in a person or organization responsible for the planning, management, and monitoring of projects._

[2022-08-15 22:18] marijane commented on #130
@vincentml, I have a question. Does NISO have any plans for an OWL implementation of CRediT?

The context for this question is the fact that the CRO was developed with the [Ontology Development Kit,](https://github.com/INCATools/ontology-development-kit), and we treated CRediT as an imported ontology. In order to do that, we created our own OWL implementation of CRediT at https://github.com/data2h

[2022-08-15 23:01] marijane commented on #132
No objections from me, these seem like good improvements.

[2022-08-15 23:07] kristiholmes commented on #132
Agree, thank you very much.

[2022-08-22 11:25] StroemPhi opened #134 "improve definition of 'presenter role' (CRO:0000100)"
Dear CRO team,

I'd like to suggest to improve the definition of 'presenter role' (CRO:0000100) from

`Oral presentation intended to present information or teach people about a particular subject, such as a talk or poster presentation at a conference.`

 to

`A contributor role that inheres in a person who speaks about a certain topic at a social event, either in form of presenting or teaching inf

[2022-09-01 23:35] #132 closed

[2022-09-10 14:47] StroemPhi opened #135 "Can CROs root node safely be subsumed under BFO:role without problems?"
In [AEON](https://github.com/tibonto/aeon) would like to reuse CRO roles by subsuming 'contributor role' (CRO:0000000) under ['role in human social processes' (OMRSE:00002072)](http://purl.obolibrary.org/obo/OMRSE_00002072) and thus under BFO:role. Now, I'm wondering of this is ok, or if there was a specific reason not to align with BFO:role and if doing so would lead to problems down the road?
As

[2022-09-10 14:52] StroemPhi commented on #135
Might be related to the disccusion in https://github.com/data2health/contributor-role-ontology/issues/14

[2022-10-10 19:31] StroemPhi commented on #135
see also: https://github.com/ufbmi/OMRSE/issues/195